<div class="form-group">
  <select name="priority" class="form-select">
    <option value="low" class="text-success" selected>Low</option>
    <option value="medium" class="text-warning">Medium</option>
    <option value="high" class="text-danger">High</option>
  </select>
</div>

